/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0d0d0; /* Light grey background for contrast */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of viewport */
  margin: 0; /* Remove default margin */
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1rem; /* Smaller font size */
  font-weight: bold;
  padding: 0.5rem 1rem; /* Adjust padding for smaller size */
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem; /* Add margin to each button for spacing */
}

.addBtn {
  background-color: #28a745; /* Green color for add button */
}

.delBtn {
  background-color: #dc3545; /* Red color for delete button */
}

.delBtn:hover {
  background-color: #c82333; /* Darker red on hover */
}

.moveBtn {
  background-color: #17a2b8; /* Blue color for move button */
}

.moveBtn:hover {
  background-color: #138496; /* Darker blue on hover */
}

input {
  font-size: 1.5rem; /* Larger font size */
  padding: 1rem; /* Larger padding */
  border-radius: 0.25rem; /* Rounded borders for input */
  border: none; /* Remove border */
  box-shadow: inset 0.15rem 0.15rem 0.15rem rgba(0,0,0,0.075); /* Subtle inset shadow */
  margin-bottom: 0.5rem; /* Add space below input */
  width: 100%; /* Full width */
}

input::placeholder {
  color: #6c757d; /* Placeholder text color */
}

ol {
  padding-left: 0; /* Remove default padding */
}

li {
  font-size: 0.9rem; /* Smaller text size for list items */
  padding: 0.75rem; /* Adjust padding */
  margin-bottom: 0.5rem; /* Space between list items */
  background-color: #fff; /* White background for list items */
  box-shadow: 0.15rem 0.15rem 0.25rem rgba(0,0,0,0.075); /* Subtle shadow for list items */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align text to start */
}

.text {
  flex-grow: 1; /* Allow text to fill space */
}
